@charset "UTF-8";
/* CSS Document */

.container {
	width:50em;
	height:50em;
	color: white;
}

.list-group {
	background: black;
	color: white;
}

.list-group-item {
	background: black;
	float: left;
	border-color: aliceblue;
	margin: 0px;
}

.list-text {
	float: left;
}