.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-footer {
  background-color: #282c34;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

